.snakemake/*
.vscode/*
logs/*
data/hic/*
output/GRCh37/*bed
output/GRCh37/*bed.gz
output/hic_pro/matrix/raw/*
output/hic_pro/allValidPairs/*
scripts/MaxHiC/*
*bam
*bai
*fastq
*fastq.gz
*fq
*fq.gz
*.matrix.gz
*sam
*txt.gz
.Rhistory
.Rproj.user
*Rproj
