samples: config/samples.tsv

suffix: .fastq.gz

# The root argument tells you where the genome will be located
# on the local system. All other arguments are required for
# downloading
ref:
  build: GRCh37
  genbank: GCA_000001405.1
  gencode: 33
  assembly: primary_assembly
  root: ../refs

# Given we only have 50nt reads, don't group during fastqc
fastqc:
  params: "--nogroup --noextract"

# Settings for AdapterRemoval
trimming:
  adapter1: AGATCGGAAGAGCACACGTCTGAACTCCAGTCACNNNNNNATCTCGTATGCCGTCTTCTGCTTG
  adapter2: AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGTAGATCTCGGTGGTCGCCGTATCATT
  maxns: 1
  minlength: 35
  minqual: 30

# Settings for HicPro
hicpro:
  ncpu: 10
  sort_ram: 1000M
  pair1_ext: _R1
  pair2_ext: _R2
  enzyme: HindIII
  phred: 33
  min_mapq: 0
  ligation_site: AAGCTAGCTT
  restriction_site: A^GATCT
  bin_size: 20000 40000 150000 500000 1000000
  matrix_format: upper

